[Interface]
Address = {{ wireguard_address }}
ListenPort = {{ wireguard_port }}
PrivateKey = {{ wireguard_active_private_key }}
{% for peer in wireguard_peers %}

[Peer]
{% if peer.name is defined %}
# {{ peer.name }}
{% endif %}
PublicKey = {{ peer.public_key }}
{% if peer.preshared_key is defined and peer.preshared_key | length > 0 %}
PresharedKey = {{ peer.preshared_key }}
{% endif %}
AllowedIPs = {{ peer.allowed_ips }}
{% if peer.endpoint is defined and peer.endpoint | length > 0 %}
Endpoint = {{ peer.endpoint }}
{% endif %}
{% if peer.persistent_keepalive is defined %}
PersistentKeepalive = {{ peer.persistent_keepalive }}
{% endif %}
{% endfor %}
